<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!--
        下面的url是一个硬编码的示例，写成了具体的路径，硬编码和强耦合的链接，对于一个包含很多应用的项目来说，修改起来是十分困难的
        <li><a href="/myapp/{{ question.id }}/">{{ question.question_text }}</a></li>
          -->
<li><a href="{% url 'myapp:detail' question.id %}">{{ question.question_text }}</a></li>


    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>